<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create Your Profile:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="profile-name">Intrests-list name:</label>
        <input class="form-input" type="text" id="profile-name" name="profile-name" />
      </div>
      <div class="form-group">
        <label for="profile-system">What do you play your games on?:</label>
        <select name="profile-system" id="profile-system">
          <option value="playstation">Playstation</option>
          <option value="xbox">Xbox</option>
          <option value="pc">PC</option>
          <option value="nintendo">Nintendo</option>
        </select>
        {{!-- <input class="form-input" type="text" id="profile-system" name="profile-system" /> --}}
      </div>
      <div class="form-group">
        <label for="profile-desc">description:</label>
        <textarea class="form-input" id="profile-desc" name="profile-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
